@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller ="Home" asp-action="Costs" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditCost" class="btn btn-secondary">Create Now</a>
</div>
